.header-content-header-logo {
    float: left;
    width: 220px;
    margin: 38px 0;   
}
.header-content-h3 {
    /*font-family: "Montserrat Bold";*/
    text-transform: uppercase;
    color: #607382;
    text-align: center;
    font-size: 12px;
    margin: 0;
    /*height: 25px;*/
    height: 5px;
    padding-top: 4px;
    font-weight: bold;
}
.header-content-img {
    /*margin-top: 2px !important;*/
    margin-top: -20px !important;
    /*height: 75px !important;*/
    height: 65px !important;
    max-width: 100%;
}
.navbar-brand {
    height: 100%;
    float: left;
    width: 220px;
    margin: 38px 0;
}
#top_menu {
    letter-spacing: 2px;
    /*margin-top: 50px;*/
    margin-top: 30px;
}
#top_menu li a span {
    /*font-family: "Montserrat Bold" !important;*/
    font-family: unset;
    text-transform: uppercase;
    color: #39559b !important;
    font-weight: bold;
    position: relative;
    font-size: 12px;
}
#top_menu li a span:hover {
    color: #bac5e0 !important;
}    
#top_menu li a {
    outline: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}